* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  background: #ffe3fc;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator {
  background: #523a51;
  padding: 20px;
  border-radius: 10px;
}